.box {
    height: 400px;
    color: white;
    font-size: 3rem;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.blue{
    background-color: blue;
}
.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}