.box{
    width: 200px;
    height: 200px;
}

.flexbox{
    display: flex;
    /* x direction */
    /* By default justify-content:flex-start */
    justify-content: center;
    /* flex-direction: column; */
    justify-content: space-between;
    /* width: 500px; */
    flex-wrap: wrap;
    align-items: start;
}
.red{
    background-color: red;
    flex-shrink: 0;
    order: 2;
}
.blue{
    background-color: blue;
    flex-grow: 1;
    height: 400px;
    order: 2;
}
.green{
    background-color: green;
    order: 3;
}

