* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #5a5b6a;
  }
  p {
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
  }
  button:focus {
    outline: none;
  }
  
  .header {
    background-color: white;
    /* sticky fixed absolute relative */
    position: sticky;
    top: 0;
    padding: 0.5rem 0;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    max-width: 1320px;
    margin: 0 auto;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .navbar ul {
    display: flex;
  }
  .navbar ul li a {
    color: #4a4b57;
    font-size: 1rem;
  }
  .navbar ul li a:hover {
    color: #35b44b;
  }
  .navbar ul li:not(:first-child) {
    margin-left: 2rem;
  }
  .navbar-btn {
    display: flex;
    gap: 0.5rem;
  }
  
  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
  .btn-primary {
    background-color: #35b44b;
    border-radius: 0.25rem;
    color: white;
  }
  .btn-ghost {
    color: #35b44b;
  }
  .hero-section{
    position: relative;
  }
  .hero-container{
    position: relative;
    z-index: 1;
   
    
  }
  .hero-content{
    padding: 10.875rem 0;
    max-width: 31.25rem;
  }
  .hero-img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }